.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  .flex-area {
    display: flex;
    justify-content: space-evenly;
    @media(max-width:992px) {
      flex-direction: column;
    }
    .left-content {
      width: 46%;
      position: fixed;
      left: 0;
      margin-left: 30px;
      margin-bottom: 50px;
      @media(max-width:992px) {
        width: 100%;
        position: inherit;
        margin-left: 0;
      }
      img {
        width: 95%;
        @media(max-width:992px) {
          width: 100%;
        }
      }
      .bbtn-area {
        display: flex;
        justify-content: space-evenly;
        .bbtn {
          background-color: #222;
          border-radius: 5px;
          padding: 13px 60px;
          color: #fff;
          font-size: 16px;
          vertical-align: bottom;
          @media (max-width:500px) {
            padding: 8px 40px;
          }
          @media(max-width:380px) {
            padding: 8px 30px;
          }
          &:hover {
            opacity: .7;
          }
        }
      }
    }
    .right-content {
      width: 46%;
      position: absolute;
      right: 0;
      margin-right: 30px;
      @media(max-width:992px) {
        width: 100%;
        position: initial;
      }
      img {
        width: 100%;
      }
    }
  }
}